<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Image Board</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
</head>

<body>
    <div id="main">
        <!-- multer only processes multipart! -->
        <form action="/images" method="POST" enctype="multipart/form-data" @submit.prevent="onFormSubmit">
            <div class="form-row">
                <input type="text" v-model="title" placeholder="title" />
                <input type="text" v-model="description" placeholder="description" />
                <input type="text" v-model="username" placeholder="username" />
                <label for="image">please select your file</label>
                <input type="file" name="file" id="file" accept="image/*">
            </div>
            <input type="submit" v-on:click="uploadImage" value="upload" class="btn-submit" />
        </form>
        <section class="basic-grid">
            <!-- image of images = alias in expression -->
            <div class="card" v-for="image in images">
                <span class="imgtitle">{{image.title}}</span>
                <!-- //hier rows -->
                <img :src="image.url" id="imgInCard" />
                <span class="imgDescription">{{image.description}}</span>
            </div>
        </section>
        <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
    </div>
</body>

</html>